<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    overflow-x:hidden;
}

.homepage_bg {
    background: url("../src/assets/Images/bghome.svg");
}
=======
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    overflow-x:hidden;
}

.homepage_bg {
    background: url("../src/assets/Images/bghome.svg");
}
>>>>>>> c3f353a8bb1b7cdc320641c7cb7a57411cadd631
